.cc-container {
    margin-top: 1.5rem;
display: grid;
grid-template-columns: 35% 58%;
gap: 4rem;
}
.cc-container .cards {
    margin-bottom: 1.5rem;
    width: 100%;
    /* margin-left: 5rem; */
}
.cc-container .cards .card{   
    text-align: center;
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    transition: var(--transition);
}
.cc-container .cards .card:hover{
    background:transparent;
    border-color: var(--color-bg-variant);
}
.cc-container .cards .card h3{
    color: var(--color-wite);
    font-size: 2rem;
}
.cc-container .cards .card .title{
font-size: 0.6rem;
}
.cc-container .cards .card .link{
    margin-top: 1rem;
}
.cc-container  .content{
    display: flex;
    flex-direction: column;    
}
.cc-container  .content input,textarea{
    width: 90%;    
    padding: 0.5rem;
    margin: 0.5rem 0;
    background: transparent;
    border: 1px solid var(--color-primary);
    outline: none; 
    color: #fff;
    display: block;
    border-radius: 5px;
}
.cc-container  .content input{
    height: 50px;

}
.cc-container  .content button{
    margin-top: 1.5rem;
    padding: 10px 40px;
}

@media (max-width:1024px){
  .cc-container{
    display: grid;
    grid-template-columns: 1fr;
  }
  .cc-container .content{

      margin-top: -2rem;
  }
  .cc-container .content form{
    width: 100%;
  }
}